/* General styles */
body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

/* Dark/Light Mode */
body.dark-mode {
  background-color: black;
  color: white;
}

body.light-mode {
  background-color: white;
  color: black;
}

#theme-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.btn {
  background-color: hsl(134, 61%, 41%);
  color: hsl(0, 0%, 100%);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: hsl(133, 61%, 33%);
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 90%;
}

.success {
  background-color: hsl(134, 41%, 88%);
  color: hsl(134, 61%, 21%);
}

.danger {
  background-color: #f8d7da;
  color: hsl(354, 61%, 28%);
}

.warning {
  background-color: hsl(43, 83%, 81%);
  color: hsl(43, 83%, 31%);
}

input,
#work_type {
  width: 100%;
  padding: 18px;
  margin: 15px 5px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
}

.selected-options {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.selected-options .option {
  /* background-color: #e0e0e0; */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  display: flex;
  align-items: center;
}

.selected-options .option span {
  margin-right: 10px;
}

.selected-options .option button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

#hours_to_submission,
#bid_amount {
  width: 10%;
}

.top-bar {
display: inline-block;
}

.logout-btn {
  background-color: hsl(0, 100%, 50%);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
}

.logout-btn:hover {
  background-color: hsl(0, 100%, 40%);
  color: white;
}

/* Style the bidding history table */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-table thead {
  background-color: #4CAF50;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 12px;
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.styled-table tbody tr:nth-child(even) {
  background-color: hsl(0, 0%, 95%);
}

/* Color-code bid status */
.accepted .status-cell {
  background-color: hsl(134, 61%, 41%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.rejected .status-cell {
  background-color: hsl(354, 70%, 54%);
  color: hsl(0, 0%, 100%);
  font-weight: bold;
}

.pending .status-cell {
  background-color: hsl(45, 100%, 51%);
  color: hsl(0, 0%, 0%);
  font-weight: bold;
}

/* Hover effect */
.styled-table tbody tr:hover {
  background-color: #ddd;
}