body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

input,
button {
  width: 100%;
  padding: 18px;
  margin: 15px 5px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  box-shadow: 0 4px 8px hsla(0, 0%, 0%, 0.2);
}

button {
  background-color: hsl(180, 100%, 50%);
}

.message {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.success {
  background-color: hsl(134, 41%, 88%);
  color: hsl(134, 61%, 21%);
}

.danger {
  background-color: hsl(355, 70%, 91%);
  color: hsl(354, 61%, 28%);
}